@model Sagaru.Models.Project

<h4>Add a new Project</h4>
<div class="form">
    @using (Html.BeginForm("AjaxCreate", "Home", FormMethod.Post, new { @class = "new-project" }))
    {
        <div class="row">
            <div class="col-sm-3">@Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name) </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.Description) @Html.TextBoxFor(model => model.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input class="btn btn-warning" type="submit" value="Add new Project" />
            </div>
        </div>
    }
    <div id="result6"></div>
</div>
<script>
    $('.new-project').submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("AjaxCreate")',
            type: 'POST',
            dataType: 'json',
            data: $(this).serialize(),
            success: function (result) {
                var resultMessage = '<li><a href="/Home/Detail/' + result.ProjectId + '">' + result.Name + '</a>  | <a href="/Home/Delete/' + result.ProjectId + '">Delete</a> | <a href="/Home/Update/' + result.ProjectId + '">Edit</a></li><ul><li>'+result.Description+'</li></ul>';
                $('#test').append(resultMessage);
            }
        });
    });
</script>