@using System.Security.Claims

@model IEnumerable<Sagaru.Models.Project>

<h2>List of Projects:</h2>
<hr />

<ul>
    @foreach (var listProject in Model)
    {
        <li>@Html.ActionLink(listProject.Name, "Detail", "Home", new { id = listProject.ProjectId })  | @Html.ActionLink("Delete", "Delete", "Home", new { id = listProject.ProjectId }) | @Html.ActionLink("Edit", "Update","Home", new { id = listProject.ProjectId })</li>
        <ul>
            <li>@Html.DisplayFor(modelItem => listProject.Description)</li>
        </ul>
    }
</ul>

<p>@Html.ActionLink("Add new Project", "Create", "Home")</p>
<p>@Html.ActionLink("View and Add Shapes", "Index", "Shape")</p>