@{
    ViewData["Title"] = "Sagaru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@model IEnumerable<Sagaru.Models.Project>

<h2>List of Projects:</h2>
<hr />

<ul>
    @foreach (var listProject in Model)
    {
        <li>@Html.ActionLink(listProject.Name, "Detail", new { id = listProject.ProjectId })  | @Html.ActionLink("Delete", "Delete", new { id = listProject.ProjectId }) | @Html.ActionLink("Edit", "Update", new { id = listProject.ProjectId })</li>
        <ul>
            <li>@Html.DisplayFor(modelItem => listProject.Description)</li>
        </ul>
    }
</ul>

<p>@Html.ActionLink("Add new Project", "Create")</p>
<p>@Html.ActionLink("View and Add Shapes", "Index", "Shape")</p>

@if (User.IsSignedIn())
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}